@font-face {
  font-family: "Yeongdo-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  // text-align: center;

  header {
    padding: 10px;
    background-color: black;
    font-family: "NEXON Lv1 Gothic OTF";

    .header-top {
      position: relative;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      h1 {
        margin-top: 15px;
        font-family: "Yeongdo-Rg";
        font-size: 50px;
        color: white;
      }
      .login-join {
        position: absolute;
        top: 35px;
        right: 15%;
        color: white;

        span {
          margin-left: 30px;
        }
      }
    }
  }
  main {
    background-color: red;
    width: 80%;
    height: 600px;
    float: left;
  }

  aside {
    background-color: yellowgreen;
    width: 20%;
    height: 600px;
    float: left;
  }

  .clear {
    clear: both;
  }
}
