.navbar {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-bottom: 10px;

  .left-nav {
    max-width: 600px;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }

  .right-nav {
    max-width: 300px;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }
}
